<ng-template #raised let-hq>
    <button mat-raised-button class="custom-button" [type]="type" [disabled]="disabled || isLoading" (click)="onClick()"
        [ngStyle]="isFull ? { 'width': '100%' } : {}" [color]="color">
        <span [ngClass]="{'hide-mobile': mobile}" class="custom-button__text">{{ text }}</span>
        <mat-icon [ngClass]="{'clear-margin': mobile}" *ngIf="icon && !isLoading" class="custom-button__icon"
            [svgIcon]="icon"></mat-icon>
        <mat-icon [ngClass]="{'clear-margin': mobile}" *ngIf="iconEnd && !isLoading" class="custom-button__icon"
            [svgIcon]="iconEnd" iconPositionEnd></mat-icon>
        <mat-icon [ngClass]="{'clear-margin': mobile}" *ngIf="isLoading" color="primary" class="custom-button__icon">
            <mat-spinner diameter="17"></mat-spinner>
        </mat-icon>
    </button>
</ng-template>

<ng-template #stroked let-hq>
    <button mat-stroked-button class="custom-button" [type]="type" [disabled]="disabled || isLoading"
        (click)="onClick()" [ngStyle]="isFull ? { 'width': '100%' } : {}" [color]="color">
        <span class="custom-button__text">{{ text }}</span>
        <mat-icon *ngIf="icon && !isLoading" class="custom-button__icon" [svgIcon]="icon"></mat-icon>
        <mat-icon *ngIf="iconEnd && !isLoading" class="custom-button__icon" [svgIcon]="iconEnd"
            iconPositionEnd></mat-icon>
        <mat-icon *ngIf="isLoading" color="primary" class="custom-button__icon">
            <mat-spinner diameter="17"></mat-spinner>
        </mat-icon>
    </button>
</ng-template>

<ng-template #flat let-hq>
    <button mat-flat-button class="custom-button" [type]="type" [disabled]="disabled || isLoading" (click)="onClick()"
        [ngStyle]="isFull ? { 'width': '100%' } : {}" [color]="color">
        <span class="custom-button__text">{{ text }}</span>
        <mat-icon *ngIf="icon && !isLoading" class="custom-button__icon" [svgIcon]="icon"></mat-icon>
        <mat-icon *ngIf="iconEnd && !isLoading" class="custom-button__icon" [svgIcon]="iconEnd"
            iconPositionEnd></mat-icon>
        <mat-icon *ngIf="isLoading" color="primary" class="custom-button__icon">
            <mat-spinner diameter="17"></mat-spinner>
        </mat-icon>
    </button>
</ng-template>

<ng-container
    *ngTemplateOutlet="buttonStyleType === 'raised' ? raised : buttonStyleType === 'stroked' ? stroked : flat;"></ng-container>