<div class="c-sidenav">
    <mat-nav-list>
        <mat-list-item color="primary" class="c-content__menu c-content__menu--title" (click)="logout()">
            <div class="c-content__menu-container">
                <mat-icon class="c-content__icon" svgIcon="sair">keyboard_arrow_right</mat-icon>
                Sair
            </div>
            <mat-icon>keyboard_arrow_right</mat-icon>
        </mat-list-item>
    </mat-nav-list>
    <div class="c-content" *ngFor="let menu of Menus">
        <!-- Menu sem submenu -->
        <div *ngIf="!menu.submenus.length; else subMenu">
            <mat-nav-list>
                <mat-list-item color="primary" class="c-content__menu c-content__menu--title"
                    (click)="onNavigate(menu)">
                    <div class="c-content__menu-container">
                        <mat-icon class="c-content__icon" [svgIcon]="menu.icone"></mat-icon>
                        {{ menu.nome }}
                    </div>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </mat-list-item>
            </mat-nav-list>
        </div>
        <!-- Submenu -->
        <ng-template #subMenu>
            <p class="c-content__title" color="accent"><mat-icon class="c-content__icon"
                    [svgIcon]="menu.icone"></mat-icon> {{ menu.nome }}</p>
            <mat-nav-list>
                <mat-list-item color="primary" class="c-content__sub" *ngFor="let sub of menu.submenus"
                    (click)="onNavigate(menu, sub)"> {{ sub.nome }} <mat-icon>keyboard_arrow_right</mat-icon>
                </mat-list-item>
            </mat-nav-list>
        </ng-template>
    </div>
</div>