.root {
    display: flex;
    flex-direction: column;
}

.content {
    min-height: calc(100vh - 115px);
    width: 100%;

    @media screen and (max-width: 599px) {
        min-height: calc(100vh - 107px);
        margin-top: 56px;
    }

    @media screen and (max-width: 430px) {
        min-height: calc(100vh - 136px);
    }

    &--nav {
        margin-top: 64px;

        @media screen and (max-width: 599px) {
            margin-top: 56px;
        }
    }
}

.c-drawer {
    &__sidenav {
        overflow-x: hidden;
        background-color: var(--accent-color);
    }
}

::ng-deep {
    .mat-drawer-inner-container {
        overflow-x: hidden !important;
    }

    .mat-drawer-content {
        overflow: hidden !important;
    }
}