<div class="root">
    <app-navbar *ngIf="isNavbar" [Menus]="Menus" [isMenusLoading]="isMenusLoading" (toggleSidenav)="drawer.toggle()">
    </app-navbar>

    <mat-sidenav-container class="c-drawer" autosize [hasBackdrop]="true">
        <mat-sidenav #drawer class="c-drawer__sidenav" mode="over" position="end" [fixedTopGap]="56"
            [fixedBottomGap]="0" [fixedInViewport]="true">
            <app-sidenav [Menus]="Menus" [isMenusLoading]="isMenusLoading" (onNavigated)="drawer.close()"></app-sidenav>
        </mat-sidenav>

        <div [class]="['content', isNavbar && 'content--nav']">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-container>

    <app-footer></app-footer>
</div>