.footer {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #07366A;
    color: white;
    height: 51px;
    padding: 10px;

    @media screen and (max-width: 430px) {
        height: 80px;
    }

    &__text {
        text-align: center;
        font-size: 14px;
    }

    &__link {
        color: #ffa41d;
        cursor: pointer;
    }
}