$primary-color-palette: (
    50 : #e1ecf7,
    100 : #b5cfeb,
    200 : #83afde,
    300 : #518ed1,
    400 : #2c76c7,
    500 : #075ebd,
    600 : #0656b7,
    700 : #054cae,
    800 : #0442a6,
    900 : #023198,
    A100 : #c3d2ff,
    A200 : #90abff,
    A400 : #5d85ff,
    A700 : #4471ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$accent-color-palette: (
    50 : #e1e7ed,
    100 : #b5c3d2,
    200 : #839bb5,
    300 : #517297,
    400 : #2c5480,
    500 : #07366a,
    600 : #063062,
    700 : #052957,
    800 : #04224d,
    900 : #02163c,
    A100 : #7295ff,
    A200 : #3f6fff,
    A400 : #0c49ff,
    A700 : #003cf1,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
