@import './colors';

$minmobile: "(max-width: 300px)"; 
$xmobile: "(max-width: 500px)"; 
$smobile: "(max-width: 576px)"; 
$mobile: "(max-width: 767px)"; 

$xtablet: "(max-width: 992px)";
$tablet: "(max-width: 1200px)";

$iphone4: "(max-height: 530px)"; 
$iphone5: "(max-width: 350px)";
$iphoneX: "(min-height: 800px)";

.showmobile {
  display: none !important;
  @media #{$mobile}{
      display: block !important;
  }
}
.hidemobile {
  @media #{#{$mobile}}{
      display: none !important;
  }
}

.showtablet {
  display: none !important;
  @media #{$tablet}{
      display: block !important;
  }
}
.hidetablet {
  @media #{#{$tablet}}{
      display: none !important;
  }
}

.two-lines{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes opacityStart{
  from {opacity: 0;}
  to {opacity: 1;}
}
