/**
* Generated theme by Material Theme Generator
* https://materialtheme.arcsine.dev
* Fork at: https://materialtheme.arcsine.dev/?c=YHBhbGV0dGU$YHByaW1hcnk$YF48IzA3NWViZCIsIj9lcjwjYjVjZmViIiwiO2VyPCMwNDQyYTZ$LCIlPmBePCMwMDMyOTQiLCI~ZXI8I2IzYzJkZiIsIjtlcjwjMDAxZjc3fiwid2Fybj5gXjwjY2UxODIzIiwiP2VyPCNmMGJhYmQiLCI7ZXI8I2JjMGUxNX4sIj9UZXh0PCMwMDAwMDAiLCI~PTwjZmFmYWZhIiwiO1RleHQ8I2ZmZmZmZiIsIjs9PCMyYzJjMmN$LCJmb250cz5bYEA8KC00fixgQDwoLTN$LGBAPCgtMn4sYEA8KC0xfixgQDxoZWFkbGluZX4sYEA8dGl0bGV$LGBAPHN1YiktMn4sYEA8c3ViKS0xfixgQDxib2R5LTJ$LGBAPGJvZHktMX4sYEA8YnV0dG9ufixgQDxjYXB0aW9ufixgQDxpbnB1dCIsInNpemU$bnVsbH1dLCJpY29uczxGaWxsZWQiLCI~bmVzcz50cnVlLCJ2ZXJzaW9uPjEzfQ==
*/

@use '@angular/material' as mat;
@import '_colors.scss';
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.

     
@include mat.core();

$primary-palette: mat.define-palette($primary-color-palette);
$accent-palette: mat.define-palette($accent-color-palette);

$theme: mat.define-light-theme((
  color: (
    primary: $primary-palette,
    accent: $accent-palette,
  )
));

body {
  --primary-color: #075EBD;
  --primary-lighter-color: #83afde;
  --primary-darker-color: #0442a6;
  --accent-color: #07366A;
  --accent-darker-color: #04224d;
}   

// Theme Init
@include mat.all-component-themes($theme);
